#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // R0
                &kp ESC &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10
                // R1
                &kp F11 &kp F12 &kp PSCRN &kp SLCK &kp PAUS &kp INS &kp HOME &kp PGUP &kp DEL &kp END &kp PGDN
                // R2
                &kp GRAVE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0
                // R3
                &kp MINUS &kp EQUAL &kp BSPC &kp TAB &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U
                // R4
                &kp I &kp O &kp P &kp LBKT &kp RBKT &kp BSLH &kp CAPS &kp A &kp S &kp D &kp F
                // R5
                &kp G &kp H &kp J &kp K &kp L &kp SEMI &kp APOS &kp RET &kp LSHFT &kp Z &kp X
                // R6
                &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT &kp UP &kp DOWN
                // R7
                &kp LEFT &kp LCTRL &kp LGUI &kp LALT &kp SPACE &kp RALT &kp RGUI &kp MENU &kp RCTRL &kp NONE &kp NONE
            >;
        };
    };
};
